#main { 
    display:flex;
    width: 960px;
    height: 960px;
    border: 2px solid black;
    flex-direction: column;
}

.row-div {
    height: 60px;
    flex: auto;
    display: flex;
}

.cell {
    flex: auto;
}

.cell-dark { 
    flex: auto;
    background-color: black;
}
